{block content}
<table border="1">
	<thead>
		<tr>
			<td>ID</td>
			<td>VARIABLE SYMBOL</td>
			<td>PRODUCTS</td>
		</tr>
	</thead>
	<tbody>
		{foreach $orders as $order}
			<tr>
				<td>{$order->getId()}</td>
				<td>{$order->getVariableSymbol()}</td>
				<td>
					<ul>
                        {foreach $order->getProducts() as $orderProduct}
							<li>{$orderProduct->getName()}</li>
                        {/foreach}
					</ul>
				</td>
			</tr>
		{/foreach}
	</tbody>
</table>